*{
  margin: 0;
  padding: 0;
  color: whitesmoke;
  
  

  
}
.main{
scroll-behavior: auto;
height: auto;
background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(../src/Assets/background.jpg);
background-repeat: no-repeat;


overflow: hidden;
background-size: cover;
width: 100%;
min-height: 200vh;
background-position: center;
}
@media screen and (max-width: 1024px) {

  .main{
    width: 75%;
  }

  
  
}